<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Bluster 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DA86E0C11E1ABF66003DDF9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA86E0DA1E1ABF66003DDF9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA86E0E51E1ABF66003DDF9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
